@model IEnumerable<LibraryManagement.ViewModels.Library.ViewModels.ReservationViewModel>

@{
    ViewData["Title"] = "Reservations";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">Reservations</h2>
        </div>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-primary text-center">Customer ID</th>
                        <th class="text-primary text-center">Checkout Time</th>
                        <th class="text-primary text-center">Is Late</th>
                        <th class="text-primary text-center">Employee Email</th>
                        <th class="text-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservation in Model)
                    {
                        <tr>
                            <td class="text-center">@reservation.CustomerPersonalID</td>
                            <td class="text-center">@reservation.CheckoutTime</td>
                            <td class="text-center">@reservation.IsLate</td>
                            <td class="text-center">@reservation.EmployeeEmail</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Reservation" asp-action="Details" asp-route-id="@reservation.ReservationId" class="btn btn-primary btn-sm mr-2">Details</a>
                                  @*   <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-reservation-id="@reservation.ReservationId">Delete</button> *@
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="CreateReservation" class="btn btn-primary">Add Reservation</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/deleteModal.js"></script>
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            initializeDeleteModal('reservation-id');
        });
    </script>
}
