@model IEnumerable<LibraryManagement.ViewModels.UserVeiwModel>

@{
    ViewData["Title"] = "Users";
}



<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">Users</h2>
        </div>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-primary text-center">Email</th>
                        <th class="text-primary text-center">Phone Number</th>
                        <th class="text-primary text-center">Roles</th>
                        <th class="text-primary text-center">Email Confirmed</th>
                        <th class="text-primary text-center">Registration Date</th>
                        <th class="text-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td class="text-center">@user.Email</td>
                            <td class="text-center">@user.PhoneNumber</td>
                            <td class="text-center">@user.Roles</td>
                            <td class="text-center">@user.EmailConfirmed</td>
                            <td class="text-center">@user.CreationDate</td>
                            <td class="text-center">
                               @*  <form asp-action="DeleteUser" asp-route-id="@user.Id" >
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form> *@
                                <a asp-action="DeleteUser" asp-route-Id="@user.Id" asp-route-email="@user.Email" class="btn btn-danger btn-sm" >Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>