@model IEnumerable<LibraryManagement.ViewModels.UserVeiwModel>

@{
    ViewData["Title"] = "Users";
}



<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">Deleted Users</h2>
        </div>
        <table>
            <tr>
                <form method="get" action="DeletedUsers">

                <td style="padding-right:755px">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["CurrentSearchString"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
                </td>
                <td>
                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                    <input type="hidden" name="sortOrder" value="@ViewBag.SortOrder" />
                    <input style="margin-left: 10px;" type="submit" value="Search" class="btn btn-primary" />
                </td>
                </form>
            </tr>
        </table>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-primary text-center">
                            <a href="@Url.Action("DeletedUsers", new { sortBy = "Email", sortOrder = ViewBag.SortOrder == "Email_Asc" ? "Email_Desc" : "Email_Asc",SearchString = ViewData["CurrentSearchString"] })" class="text-primary">
                                Email
                                @if (ViewBag.SortBy == "Email")
                                {
                                    @if (ViewBag.SortOrder == "Email_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "Email_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>
                        <th class="text-primary text-center">Phone Number</th>
                        <th class="text-primary text-center">Roles</th>
                        <th class="text-primary text-center">Email Confirmed</th>
                        <th class="text-primary text-center">
                            <a href="@Url.Action("DeletedUsers", new { sortBy = "RegistrationDate", sortOrder = ViewBag.SortOrder == "RegistrationDate_Asc" ? "RegistrationDate_Desc" : "RegistrationDate_Asc", SearchString = ViewData["CurrentSearchString"] })" class="text-primary">
                                Registration Date
                                @if (ViewBag.SortBy == "RegistrationDate")
                                {
                                    @if (ViewBag.SortOrder == "RegistrationDate_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "RegistrationDate_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>
                        <th class="text-primary text-center">Delete Date</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td class="text-center">@user.Email</td>
                            <td class="text-center">@user.PhoneNumber</td>
                            <td class="text-center">@user.Roles</td>
                            <td class="text-center">@user.EmailConfirmed</td>
                            <td class="text-center">@user.CreationDate</td>
                            <td class="text-center">@user.DeleteDate</td>
                            <td class="text-center">
                                <button type="button" data-toggle="modal" data-target="#renewModal" data-user-id="@user.Id" data-user-email="@user.Email" class="btn btn-warning">Renew</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@await Html.PartialAsync("_RenewConfirmationModal", ("user-id", "user-email", "RenewEmployee"))

@section Scripts {
    <script src="~/js/renewModal.js"></script>
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            initializeDeleteModal('user-id', 'user-email');
        });
    </script>
}

