@model IEnumerable<LibraryManagement.ViewModels.UserVeiwModel>

@{
     ViewData["Title"] = "Users";
     ViewData["ActionUrl"] = "DeletedUsers";
     ViewData["ActionName"] = "DeletedUsers";
}



<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">Deleted Users</h2>
        </div>
        <table>
            <tr>
                @await Html.PartialAsync("_SearchForm", ViewData["CurrentSearchString"] as string)
            </tr>
        </table>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @await Html.PartialAsync("_SortableHeader", Tuple.Create("Email", "Email"))
                        <th class="text-primary text-center">Phone Number</th>
                        <th class="text-primary text-center">Roles</th>
                        <th class="text-primary text-center">Email Confirmed</th>
                        @await Html.PartialAsync("_SortableHeader", Tuple.Create("RegistrationDate", "RegistrationDate"))
                        <th class="text-primary text-center">Delete Date</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td class="text-center">@user.Email</td>
                            <td class="text-center">@user.PhoneNumber</td>
                            <td class="text-center">@user.Roles</td>
                            <td class="text-center">@user.EmailConfirmed</td>
                            <td class="text-center">@user.CreationDate</td>
                            <td class="text-center">@user.DeleteDate</td>
                            <td class="text-center">
                                <button type="button" data-toggle="modal" data-target="#renewModal" data-user-id="@user.Id" data-user-email="@user.Email" class="btn btn-warning">Renew</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@await Html.PartialAsync("_RenewConfirmationModal", ("user-id", "user-email", "RenewEmployee"))

@section Scripts {
    <script src="~/js/renewModal.js"></script>
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            initializeDeleteModal('user-id', 'user-email');
        });
    </script>
}

