@model IEnumerable<LibraryManagement.ViewModels.UserForPendingViewModel>

@{
    ViewData["Title"] = "Users";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center align-items-center mb-3">
            <h2 class="text-primary text-center mb-0">Pending Users</h2>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-primary">Email</th>
                        <th class="text-primary">Phone Number</th>
                        <th class="text-primary">Email Confirmed</th>
                        <th class="text-primary">Registration Date</th>
                        <th class="text-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.EmailConfirmed</td>
                            <td>@user.CreationDate</td>
                            <td>
                                <a asp-action="AssignRoles"  asp-route-Id="@user.Id" class="btn btn-primary">Assign a role</a>
                              @*   <a asp-action="RejectUser" asp-route-Id="@user.Id" class="btn btn-danger">Report</a> *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

