@model IEnumerable<LibraryManagement.ViewModels.UserVeiwModel>

@{
    ViewData["Title"] = "Users";
}


<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="text-primary mb-0">Users</h2>
            <a asp-action="AddAdmin"  class="btn btn-primary">Add Admin</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-primary text-center">
                            <a href="@Url.Action("UsersForSuperAdmin", new { sortBy = "Email", sortOrder = ViewBag.SortOrder == "Email_Asc" ? "Email_Desc" : "Email_Asc" })">
                                Email
                                @if (ViewBag.SortBy == "Email")
                                {
                                    @if (ViewBag.SortOrder == "Email_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "Email_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>
                        <th class="text-primary text-center">Phone Number</th>
                        
                        <th class="text-primary text-center">
                            <a href="@Url.Action("UsersForSuperAdmin", new { sortBy = "Roles", sortOrder = ViewBag.SortOrder == "Roles_Asc" ? "Roles_Desc" : "Roles_Asc" })">
                                Roles
                                @if (ViewBag.SortBy == "Roles")
                                {
                                    @if (ViewBag.SortOrder == "Roles_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "Roles_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>

                        <th class="text-primary text-center">Email Confirmed</th>
                        <th class="text-primary text-center">
                            <a href="@Url.Action("UsersForSuperAdmin", new { sortBy = "RegistrationDate", sortOrder = ViewBag.SortOrder == "RegistrationDate_Asc" ? "RegistrationDate_Desc" : "RegistrationDate_Asc" })">
                                Registration Date
                                @if (ViewBag.SortBy == "RegistrationDate")
                                {
                                    @if (ViewBag.SortOrder == "RegistrationDate_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "RegistrationDate_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>
                        <th class="text-primary text-center">Is Active</th>
                    </tr>
                </thead>
                <tbody id="userTableBody">
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td class="text-center">@user.Email</td>
                            <td class="text-center">@user.PhoneNumber</td>
                            <td class="text-center">@user.Roles</td>
                            <td class="text-center">@user.EmailConfirmed</td>
                            <td class="text-center">@user.CreationDate</td>
                            <td class="text-center">@(user.DeleteDate == null ? "True" : "False")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
