@model (IEnumerable<dynamic> Items, string[] Headers, string[] Properties, string IdProperty, string NameProperty, string EditAction, string DeleteAction)

<div class="table-responsive wide-table">
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (var header in Model.Headers)
                {
                    <th class="text-primary text-center">@header</th>
                }
                <th class="text-primary text-center">Actions</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model.Items)
            {
                <tr>
                    @foreach (var property in Model.Properties)
                    {
                        <td class="text-center">@item.GetType().GetProperty(property).GetValue(item, null)</td>
                    }
                    <td class="text-center">
                        <div class="d-flex justify-content-center">
                            <a asp-action="@Model.EditAction" asp-route-id="@item.GetType().GetProperty(Model.IdProperty).GetValue(item, null)" class="btn btn-primary btn-sm mr-2">Edit</a>
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-id="@item.GetType().GetProperty(Model.IdProperty).GetValue(item, null)" data-name="@item.GetType().GetProperty(Model.NameProperty).GetValue(item, null)">Delete</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>