@model IEnumerable<LibraryManagement.ViewModels.Library.ViewModels.AuthorViewModel>

@{
    ViewData["Title"] = "Authors";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">Authors</h2>
        </div>
        <table>
            <tr>
                <form method="get" action="Authors">
                <td style="padding-right:755px">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["CurrentSearchString"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
                </td>
                <td>
                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                    <input type="hidden" name="sortOrder" value="@ViewBag.SortOrder" />
                    <input style="margin-left: 10px;" type="submit" value="Search" class="btn btn-primary" />
                </td>
                </form>
            </tr>
        </table>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-primary text-center">
                            <a href="@Url.Action("Authors", new { sortBy = "FirstName", sortOrder = ViewBag.SortOrder == "FirstName_Asc" ? "FirstName_Desc" : "FirstName_Asc", SearchString = ViewData["CurrentSearchString"] })" class="text-primary">
                                First Name
                                @if (ViewBag.SortBy == "FirstName")
                                {
                                    @if (ViewBag.SortOrder == "FirstName_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "FirstName_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>
                        <th class="text-primary text-center">
                            <a href="@Url.Action("Authors", new { sortBy = "LastName", sortOrder = ViewBag.SortOrder == "LastName_Asc" ? "LastName_Desc" : "LastName_Asc", SearchString = ViewData["CurrentSearchString"] })" class="text-primary">
                                Last Name
                                @if (ViewBag.SortBy == "LastName")
                                {
                                    @if (ViewBag.SortOrder == "LastName_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "LastName_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>
                        <th class="text-primary text-center">
                            <a href="@Url.Action("Authors", new { sortBy = "DateOfBirth", sortOrder = ViewBag.SortOrder == "DateOfBirth_Asc" ? "DateOfBirth_Desc" : "DateOfBirth_Asc", SearchString = ViewData["CurrentSearchString"] })" class="text-primary">
                                Date of Birth
                                @if (ViewBag.SortBy == "DateOfBirth")
                                {
                                    @if (ViewBag.SortOrder == "DateOfBirth_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "DateOfBirth_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>
                        <th class="text-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var author in Model)
                    {
                        <tr>
                            <td class="text-center">@author.FirstName</td>
                            <td class="text-center">@author.LastName</td>
                            <td class="text-center">@author.DateOfBirth.ToShortDateString()</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Account" asp-action="Profile" class="btn btn-primary btn-sm mr-2">Edit</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-author-id="@author.AuthorId" data-author-name="@($"{author.FirstName} {author.LastName}")">Delete</button>
                                </div>            
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="CreateAuthor" class="btn btn-primary">Add Author</a>
        </div>
    </div>
</div>




<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the user with Name <strong id="authorName"></strong>?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" asp-action="DeleteAuthor">
                    <input type="hidden" name="Id" id="authorId" value="" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var authorId = button.data('author-id')
        var authorName = button.data('author-name')
        var modal = $(this)
        modal.find('#authorId').val(authorId)
        modal.find('#authorName').text(authorName)
    })
</script>

