@model LibraryManagement.ViewModels.Library.ViewModels.PagedViewModel<LibraryManagement.ViewModels.Library.ViewModels.AuthorViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Authors"];
    ViewData["ActionUrl"] = "Authors";
    ViewData["ActionName"] = "Authors";
    var sortableColumns = new[]
    {
        (Localizer["First Name"].Value, "FirstName"),
        (Localizer["Last Name"].Value, "LastName"),
        (Localizer["Date of Birth"].Value, "DateOfBirth")
    };
}


<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">@Localizer["Authors"]</h2>
        </div>
        <table>
            <tr>
                @await Html.PartialAsync("_SearchForm", ViewData["CurrentSearchString"] as string)
            </tr>
        </table>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @await Html.PartialAsync("_SortableHeader", sortableColumns)
                        <th class="text-primary text-center">@Localizer["Actions"]</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var author in Model.Items)
                    {
                        <tr>
                            <td class="text-center">@author.FirstName</td>
                            <td class="text-center">@author.LastName</td>
                            <td class="text-center">@author.DateOfBirth.ToShortDateString()</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Author" asp-action="UpdateAuthor" asp-route-id="@author.AuthorId" class="btn btn-primary btn-sm mr-2">@Localizer["Edit"]</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-author-id="@author.AuthorId" data-author-name="@($"{author.FirstName} {author.LastName}")">@Localizer["Delete"]</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="CreateAuthor" class="btn btn-primary">@Localizer["Add Author"]</a>
        </div>

        @await Html.PartialAsync("_Pagination", (
                 CurrentPage: Model.MetaData.CurrentPage,
                 TotalPages: Model.MetaData.TotalPages,
                 PageSize: Model.MetaData.PageSize,
                 TotalCount: Model.MetaData.TotalCount,
                 OrderBy: ViewBag.OrderBy,
                 SearchString: ViewData["CurrentSearchString"] as string,
                 ControllerName: ViewContext.RouteData.Values["controller"].ToString(),
                 ActionName: ViewContext.RouteData.Values["action"].ToString()
                 ))
    </div>
</div>
@await Html.PartialAsync("_DeleteConfirmationModal", ("author-id", "author-name", "DeleteAuthor"))

@section Scripts {
    <script src="~/js/Modals/delete-modal.js"></script>
    <script src="~/js/Shared/pagination.js"></script>
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            initializeDeleteModal('author-id', 'author-name');
        });
    </script>
}