@model IEnumerable<LibraryManagement.ViewModels.Library.ViewModels.CustomerViewModel>
@{
    ViewData["Title"] = "Customers";
    ViewData["ActionUrl"] = "Customers";
    ViewData["ActionName"] = "Customers";
    var sortableColumns = new[]
    {
        ("LastName", "Last Name"),
        ("FirstName", "First Name"),
        ("Email", "Email")
    };
}
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">Customers</h2>
        </div>
        <table>
            <tr>
                @await Html.PartialAsync("_SearchForm", ViewData["CurrentSearchString"] as string)
            </tr>
        </table>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @await Html.PartialAsync("_SortableHeader", sortableColumns)
                        <th class="text-primary text-center">Phone Number</th>
                        <th class="text-primary text-center">Address</th>
                        <th class="text-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td class="text-center">@customer.LastName</td>
                            <td class="text-center">@customer.FirstName</td>
                            <td class="text-center">@customer.Email</td>
                            <td class="text-center">@customer.PhoneNumber</td>
                            <td class="text-center">@customer.Address.ToString()</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Customer" asp-action="UpdateCustomer" asp-route-id="@customer.CustomerId" class="btn btn-primary btn-sm mr-2">Edit</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-customer-id="@customer.CustomerId" data-customer-name="@($"{customer.FirstName} {customer.LastName}")">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="CreateCustomer" class="btn btn-primary">Add Customer</a>
        </div>
    </div>
</div>
@await Html.PartialAsync("_DeleteConfirmationModal", ("customer-id", "customer-name", "DeleteCustomer"))
@section Scripts {
    <script src="~/js/deleteModal.js"></script>
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            initializeDeleteModal('customer-id', 'customer-name');
        });
    </script>
}