@model LibraryManagement.ViewModels.Library.ViewModels.PagedViewModel<LibraryManagement.ViewModels.Library.ViewModels.BookViewModel>
@{
    ViewData["Title"] = "Books";
    ViewData["ActionUrl"] = "Books";
    ViewData["ActionName"] = "Books";
    ViewData["CurrentPage"] = Model.MetaData.CurrentPage;
    var sortableColumns = new[]
    {
        ("Title", "Title"),
        ("Published Year", "PublishedYear"),
    };
}
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">Books</h2>
        </div>
        <table>
            <tr>
                @await Html.PartialAsync("_SearchForm", ViewData["CurrentSearchString"] as string)
            </tr>
        </table>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @await Html.PartialAsync("_SortableHeader", sortableColumns)
                        <th class="text-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var book in Model.Items)
                    {
                        <tr>
                            <td class="text-center">@book.Title</td>
                            <td class="text-center">@book.PublishedYear.ToShortDateString()</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Book" asp-action="EditBook" asp-route-id="@book.BookId" class="btn btn-primary btn-sm mr-2">Edit</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-book-id="@book.BookId" data-book-title="@book.Title">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="CreateBook" class="btn btn-primary">Add Book</a>
        </div>
        @await Html.PartialAsync("_Pagination", (
                 CurrentPage: Model.MetaData.CurrentPage,
                 TotalPages: Model.MetaData.TotalPages,
                 PageSize: Model.MetaData.PageSize,
                 TotalCount: Model.MetaData.TotalCount,
                 OrderBy: ViewBag.OrderBy,
                 SearchString: ViewData["CurrentSearchString"] as string,
                 ControllerName: ViewContext.RouteData.Values["controller"].ToString(),
                 ActionName: ViewContext.RouteData.Values["action"].ToString()
                 ))
    </div>
</div>
@await Html.PartialAsync("_DeleteConfirmationModal", ("book-id", "book-title", "DeleteBook"))
@section Scripts {
    <script src="~/js/Modals/delete-modal.js"></script>
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            initializeDeleteModal('book-id', 'book-title');
        });
    </script>
}