@model LibraryManagement.ViewModels.Library.ViewModels.CreateBookViewModel

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#authors').select2({
                placeholder: 'Select authors',
                multiple: true,
                allowClear: true
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#publishers').select2({
                placeholder: 'Select Publishers',
                multiple: true,
                allowClear: true
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#Categories').select2({
                placeholder: 'Select Categories',
                multiple: true,
                allowClear: true
            });
        });
    </script>
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-primary" style="border-width: 5px; border-radius: 30px; background-color: #FCF7FF;">
                <div class="card-body">
                    <h2 class="text-primary text-center mb-4">Create Book</h2>
                    <form asp-action="CreateBook" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title" class="text-primary">Title:</label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PublishedYear" class="text-primary">Published Year:</label>
                            <input asp-for="PublishedYear" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            <span asp-validation-for="PublishedYear" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Edition" class="text-primary">Edition:</label>
                            <input asp-for="Edition" class="form-control" />
                            <span asp-validation-for="Edition" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="authors" class="text-primary">Authors:</label>
                            <select id="authors" name="SelectedAuthorIds" class="form-control" multiple>
                                @foreach (var author in Model.Authors)
                                {
                                    <option value="@author.AuthorId">@author.FirstName @author.LastName</option>
                                }
                                <span asp-validation-for="SelectedAuthorIds" class="text-danger"></span>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="publishers" class="text-primary">Publishers:</label>
                            <select id="publishers" name="SelectedPublisherIds" class="form-control" multiple>
                                @foreach (var publisher in Model.Publishers)
                                {
                                    <option value="@publisher.PublisherId">@publisher.PublisherName</option>
                                }
                                <span asp-validation-for="SelectedPublisherIds" class="text-danger"></span>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Categories" class="text-primary">Categories:</label>
                            <select id="Categories" name="SelectedCategoryIds" class="form-control" multiple>
                                @foreach ( var category in Model.Categories)
                                {
                                    <option value="@category.CategoryId">@category.Title</option>
                                }
                                <span asp-validation-for="SelectedCategoryIds" class="text-danger"></span>
                            </select>
                        </div>



                        @foreach (var author in Model.Authors)
                        {
                            <input type="hidden" name="Authors" value="@author.AuthorId" />
                        }

                        @foreach (var publisher in Model.Publishers)
                        {
                            <input type="hidden" name="Publishers" value="@publisher.PublisherId" />
                        }
                        @foreach(var category in Model.Categories)
                        {
                            <input type="hidden" name="Categories" value="@category.CategoryId" />
                        }

                        <div class="form-group text-center mt-4">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Create Book</button>
                            <a asp-controller="Book" asp-action="Books" class="btn btn-neutral btn-block btn-lg">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



