@model LibraryManagement.ViewModels.Library.ViewModels.UpdateBookViewModel


<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#authors').select2({
                placeholder: 'Select authors',
                multiple: true,
                allowClear: true
            });

            // Initialize with selected authors
            var selectedAuthors = @Html.Raw(Json.Serialize(Model.SelectedAuthorIds));
            $('#authors').val(selectedAuthors).trigger('change');
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#publishers').select2({
                placeholder: 'Select Publishers',
                multiple: true,
                allowClear: true
            });

            // Initialize with selected publishers
            var selectedPublishers = @Html.Raw(Json.Serialize(Model.SelectedPublisherIds));
            $('#publishers').val(selectedPublishers).trigger('change');
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#categories').select2({
                placeholder: 'Select Categories',
                multiple: true,
                allowClear: true
            });

            // Initialize with selected publishers
            var selectedCategories = @Html.Raw(Json.Serialize(Model.SelectedCategoryIds));
            $('#categories').val(selectedCategories).trigger('change');
        });
    </script>

}



<div class="container-fluid mt--7">
    <div class="row justify-content-center">
        <div class="col-xl-10 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Book Information</h3>
                        </div>
                    </div>
                </div>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @TempData["SuccessMessage"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="card-body">
                    <form id="book-form" asp-action="EditBook" asp-controller="Book" method="post">
                        @Html.HiddenFor(model => model.BookId)
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group focused">
                                        <label class="form-control-label">Title</label>
                                        <div class="d-flex align-items-center">
                                            <p id="input-title" class="form-control form-control-alternative mb-0 mr-2 placeholder" contenteditable="false">@Model.Title</p>
                                            <i class="fas fa-edit text-primary edit-icon" onclick="makeEditable('input-title')"></i>
                                            <input type="hidden" name="Title" id="hidden-title" value="@Model.Title" />
                                        </div>
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Published Year</label>
                                        <input asp-for="PublishedYear" type="date" class="form-control" value="@Model.PublishedYear.ToString("yyyy-MM-dd")" />
                                        <span asp-validation-for="PublishedYear" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label">Edition</label>
                                        <div class="d-flex align-items-center">
                                            <p id="input-edition" class="form-control form-control-alternative mb-0 mr-2 placeholder" contenteditable="true">@Model.Edition</p>
                                            <i class="fas fa-edit text-primary edit-icon" onclick="makeEditable('input-edition')"></i>
                                            <input type="hidden" name="Edition" id="hidden-edition" value="@Model.Edition" />
                                        </div>
                                        <span asp-validation-for="Edition" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="authors" class="form-control-label">Authors</label>
                                        <select id="authors" name="SelectedAuthorIds" class="form-control" multiple>
                                            @foreach (var author in Model.Authors)
                                            {
                                                <option value="@author.AuthorId">@author.FirstName @author.LastName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="publishers" class="form-control-label">Publishers</label>
                                        <select id="publishers" name="SelectedPublisherIds" class="form-control" multiple>
                                            @foreach (var publisher in Model.Publishers)
                                            {
                                                <option value="@publisher.PublisherId">@publisher.PublisherName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="categories" class="form-control-label">Categories</label>
                                        <select id="categories" name="SelectedCategoryIds" class="form-control" multiple>
                                            @foreach (var category in Model.Categories)
                                            {
                                                <option value="@category.CategoryId">@category.Title</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>



                            @foreach (var author in Model.Authors)
                            {
                                <input type="hidden" name="Authors" value="@author.AuthorId" />
                            }

                            @foreach (var publisher in Model.Publishers)
                            {
                                <input type="hidden" name="Publishers" value="@publisher.PublisherId" />
                            }

                            @foreach(var CATEGORY in Model.Categories)
                            {
                                <input type="hidden" name="Categories" value="@CATEGORY.CategoryId" />
                            }

                            <div class="form-group row justify-content-end">
                                <div class="col-auto">
                                    <button type="submit" id="saveButton" class="btn btn-success btn-lg mr-3">Save Changes</button>
                                    <a asp-controller="Book" asp-action="Books" class="btn btn-neutral btn-lg mr-3">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>