@model IEnumerable<LibraryManagement.ViewModels.Library.ViewModels.PublisherViewModel>

@{
    ViewData["Title"] = "Publishers";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">Publishers</h2>
        </div>
        <table>
            <tr>
                <form method="get" action="Publishers">
                <td style="padding-right:755px">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["CurrentSearchString"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
                </td>
                <td>
                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                    <input type="hidden" name="sortOrder" value="@ViewBag.SortOrder" />
                    <input style="margin-left: 10px;" type="submit" value="Search" class="btn btn-primary" />
                </td>
                </form>
            </tr>
        </table>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-primary text-center">
                            <a href="@Url.Action("Publishers", new { sortBy = "PublisherName", sortOrder = ViewBag.SortOrder == "PublisherName_Asc" ? "PublisherName_Desc" : "PublisherName_Asc", SearchString = ViewData["CurrentSearchString"] })" class="text-primary">
                                Publisher Name
                                @if (ViewBag.SortBy == "PublisherName")
                                {
                                    @if (ViewBag.SortOrder == "PublisherName_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "PublisherName_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>
                        <th class="text-primary text-center">
                            <a href="@Url.Action("Publishers", new { sortBy = "PhoneNumber", sortOrder = ViewBag.SortOrder == "PhoneNumber_Asc" ? "PhoneNumber_Desc" : "PhoneNumber_Asc", SearchString = ViewData["CurrentSearchString"] })" class="text-primary">
                                Phone Number
                                @if (ViewBag.SortBy == "PhoneNumber")
                                {
                                    @if (ViewBag.SortOrder == "PhoneNumber_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "PhoneNumber_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>
                        <th class="text-primary text-center">
                            <a href="@Url.Action("Publishers", new { sortBy = "Email", sortOrder = ViewBag.SortOrder == "Email_Asc" ? "Email_Desc" : "Email_Asc", SearchString = ViewData["CurrentSearchString"] })" class="text-primary">
                                Email
                                @if (ViewBag.SortBy == "Email")
                                {
                                    @if (ViewBag.SortOrder == "Email_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "Email_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>
                        <th class="text-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var publisher in Model)
                    {
                        <tr>
                            <td class="text-center">@publisher.PublisherName</td>
                            <td class="text-center">@publisher.PhoneNumber</td>
                            <td class="text-center">@publisher.Email</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Publisher" asp-action="UpdatePublisher" asp-route-id="@publisher.PublisherId" class="btn btn-primary btn-sm mr-2">Edit</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-publisher-id="@publisher.PublisherId" data-publisher-name="@publisher.PublisherName">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="CreatePublisher" class="btn btn-primary">Add Publisher</a>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the publisher with Name <strong id="publisherName"></strong>?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" asp-action="DeletePublisher">
                    <input type="hidden" name="Id" id="publisherId" value="" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var publisherId = button.data('publisher-id')
        var publisherName = button.data('publisher-name')
        var modal = $(this)
        modal.find('#publisherId').val(publisherId)
        modal.find('#publisherName').text(publisherName)
    })
</script>