@model LibraryManagement.ViewModels.Library.ViewModels.PagedViewModel<LibraryManagement.ViewModels.Library.ViewModels.PublisherViewModel>

@{
    ViewData["Title"] = "Publishers";
    ViewData["ActionUrl"] = "Publishers";
    ViewData["ActionName"] = "Publishers";
    ViewData["CurrentPage"] = Model.MetaData.CurrentPage;
    var sortableColumns = new[]
    {
        ("Publisher Name", "PublisherName"),
        ("Phone Number", "PhoneNumber"),
        ("Email", "Email")
    };
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">Publishers</h2>
        </div>
        <table>
            <tr>
                @await Html.PartialAsync("_SearchForm", ViewData["CurrentSearchString"] as string)
            </tr>
        </table>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @await Html.PartialAsync("_SortableHeader", sortableColumns)
                        <th class="text-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var publisher in Model.Items)
                    {
                        <tr>
                            <td class="text-center">@publisher.PublisherName</td>
                            <td class="text-center">@publisher.PhoneNumber</td>
                            <td class="text-center">@publisher.Email</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Publisher" asp-action="UpdatePublisher" asp-route-id="@publisher.PublisherId" class="btn btn-primary btn-sm mr-2">Edit</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-publisher-id="@publisher.PublisherId" data-publisher-name="@publisher.PublisherName">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="CreatePublisher" class="btn btn-primary">Add Publisher</a>
        </div>
        @await Html.PartialAsync("_Pagination", (
                 CurrentPage: Model.MetaData.CurrentPage,
                 TotalPages: Model.MetaData.TotalPages,
                 PageSize: Model.MetaData.PageSize,
                 TotalCount: Model.MetaData.TotalCount,
                 OrderBy: ViewBag.OrderBy,
                 SearchString: ViewData["CurrentSearchString"] as string,
                 ControllerName: ViewContext.RouteData.Values["controller"].ToString(),
                 ActionName: ViewContext.RouteData.Values["action"].ToString()
                 ))
    </div>
</div>

@await Html.PartialAsync("_DeleteConfirmationModal", ("publisher-id", "publisher-name", "DeletePublisher"))

@section Scripts {
    <script src="~/js/Modals/delete-modal.js"></script>
    <script src="~/js/Shared/pagination.js"></<script>
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            initializeDeleteModal('publisher-id', 'publisher-name');
        });
    </script>
}
