@model IEnumerable<LibraryManagement.ViewModels.Library.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Categories";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">Categories</h2>
        </div>
        <table>
            <tr>
                <form method="get" action="Categories">
                <td style="padding-right:755px">
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["CurrentSearchString"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
                </td>
                <td>
                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                    <input type="hidden" name="sortOrder" value="@ViewBag.SortOrder" />
                    <input style="margin-left: 10px;" type="submit" value="Search" class="btn btn-primary" />
                </td>
                </form>
            </tr>
        </table>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-primary text-center">
                            <a href="@Url.Action("Categories", new { sortBy = "Title", sortOrder = ViewBag.SortOrder == "Title_Asc" ? "Title_Desc" : "Title_Asc", SearchString = ViewData["CurrentSearchString"] })" class="text-primary">
                                Title
                                @if (ViewBag.SortBy == "Title")
                                {
                                    @if (ViewBag.SortOrder == "Title_Asc")
                                    {
                                        <i class="fas fa-arrow-up"></i>
                                    }
                                    else if (ViewBag.SortOrder == "Title_Desc")
                                    {
                                        <i class="fas fa-arrow-down"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fas fa-sort"></i>
                                }
                            </a>
                        </th>
                        <th class="text-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td class="text-center">@category.Title</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Category" asp-action="UpdateCategory" asp-route-id="@category.CategoryId" class="btn btn-primary btn-sm mr-2">Edit</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" data-category-id="@category.CategoryId" data-category-name="@category.Title">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="CreateCategory" class="btn btn-primary">Add Category</a>
        </div>
    </div>
</div>

@await Html.PartialAsync("_DeleteConfirmationModal", ("category-id", "category-name", "DeleteCategory"))


@section Scripts{
    <script src="~/js/deleteModal.js"></script>
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
             initializeDeleteModal('category-id', 'category-name');
        });
    </script>
}

